.navbar-toggler {
  background-color: #ffffff !important;
}


.carousel-caption {

  padding-bottom: 50px;
}

h1 {

  font-size: 60px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  padding-left: 50px;
  text-decoration: blink;
  font-family: "Rozha One", Sans-serif;
  padding-top: 60px;
}

h2 {

  color: #333;
  font-size: 38px;
  font-family: "Rozha One", Sans-serif;
  text-align: center;
  padding-top: 20px;
}

h1 span {
  background: #eee;
  padding: 0 40px;
}


h3 {

  font-size: 10px;

}

h4 {

  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 40px;

}

h5 {

  font-size: 50px;
  font-family: "Rozha One", Sans-serif;
}

h6 {
  text-align: center;
  font-size: 50px;
  font-family: "Rozha One", Sans-serif;
  padding-top: 40px;
}

p {

  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

a {

  font-size: 20px;
}

li {

  display: inline;
  text-align: center;

}

* {

  box-sizing: border-box;
}


body {

  background-color: bisque;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container-fluid {

  max-width: 1000px;
  margin: 0 auto;
}



.presentation img {

  border-radius: 50% 50%;
  padding: 20px 0 20px;
  margin: 20px 0 50px;
  width: 250px;

}

.formulaires {

  height: 550px;
}




.date {

  float: right;
  font-size: 10px;
}

.far {

  font-size: 40px;
}

.btn-outline-success {

  color: #000000;
  border-color: #000000;
}

.btn-secondary {

  color: #000000;
  background-color: white;
  border-color: white;
}

.btnCountry {

  font-size: 12px;
  padding-right: 0px;
}

.dropdown-menu {
  width: 40px;
}

.dropdown-item {

  padding: 0;
}

textarea {
  resize: none;
  outline: none;
  width: 394px;
  font-family: tahoma;
  background: #f9f9f9;
}

textarea:focus {
  background: #fff;
}

input[type="submit"] {
  width: 400px;
  padding: 5px 0px;
  font-weight: bold;
  margin-top: -6px;
}

.content {
  width: 100%;
}

.comments {
  width: 400px;
  margin: 30px auto;
}

.insert-text {
  position: relative;
}

.insert-text .loading {
  position: absolute;
  bottom: -25px;
  display: none;
}

.insert-text .total-comment {
  position: absolute;
  bottom: -25px;
  right: 0px;
}

.insert-text .total-comment:before {
  content: "Total comment: ";
  font-weight: bold;
}

.list-comments {
  margin-top: 30px;
  border: 1px solid #ccc;
  background: #f0f0f0;
}

.list-comments>div {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list-comments>div:last-child {
  border-bottom: none;
}

.editor {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.editor-header {
  border-bottom: 1px solid #ccc;
}

.editor-header a {
  display: inline-block;
  padding: 10px;
  color: #666;
}

.editor-header a:hover {
  color: #000;
}


.editor-content {
  padding: 10px;
  outline: none;
  min-height: 80px;
  background: #f9f9f9;
  border-radius: 0px 0px 5px 5px;
}

.editor-content:focus {
  background: #fff;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  line-height: 20px;
}

a {
  text-decoration: none;
}

[data-role="bold"] {
  font-weight: bold;
}

[data-role="italic"] {
  font-style: italic;
}

[data-role="underline"] {
  text-decoration: underline;
}

[class^="menu"] {
  position: relative;
  top: 6px;
  display: block;
  width: 27px;
  height: 2px;
  margin: 0 auto;
  background: #999;
}

[class^="menu"]:before {
  content: '';
  top: -5px;
  width: 80%;
  position: relative;
  display: block;
  height: 2px;
  margin: 0 auto;
  background: #999;
}

[class^="menu"]:after {
  content: '';
  top: 3px;
  width: 80%;
  position: relative;
  display: block;
  height: 2px;
  margin: 0 auto;
  background: #999;
}

.menu-left {
  margin-right: 5px;
}

.menu-left:before {
  margin-right: 5px;
}

.menu-left:after {
  margin-right: 5px;
}

.menu-right {
  margin-left: 5px;
}

.menu-right:before {
  margin-left: 5px;
}

.menu-right:after {
  margin-left: 5px;
}


/* Blog Display Card */
.blog-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 28px auto;
  width: 20rem;
}

.blog-container a {
  color: #4d4dff;
  text-decoration: none;
  transition: .25s ease;

}

.blog-container a:hover {
  border-color: #ff4d4d;
  color: #ff4d4d;
}

.blog-cover {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
}

.blog-card a {
  text-decoration: none
}

.blog-author,
.blog-author--no-cover {
  padding-top: .125rem;
  width: 80%;
}

.blog-author h3::before,
.blog-author--no-cover h3::before {
  background: url("../../assets/images/profil.jpg");
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}

.blog-author h3 {
  color: #fff;
  font-weight: 100;
}

.blog-author--no-cover h3 {
  color: lighten(#333, 40%);
  font-weight: 100;
}


.blog-body {
  margin: 0 auto;
  width: 80%;
}

.blog-title img {

  padding: 15px 0 15px 0;
  width: 100%;

}


.blog-title h1 a {
  color: #333;
  font-weight: 100;
}

.blog-summary p {
  color: lighten(#333, 10%);
}

.blog-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.blog-tags li+li {
  margin-left: .5rem;
}

.blog-tags a {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  color: lighten(#333, 40%);
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 .5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}

.blog-footer {
  border-top: 1px solid lighten(#333, 70%);
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}

.blog-footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}

.blog-footer li:first-child {
  margin-right: auto;
}

.blog-footer li+li {
  margin-left: .5rem;
}

.blog-footer li {
  color: lighten(#333, 40%);
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;

}

.blog-footer li a {
  color: lighten(#333, 40%);
}

.comments {
  margin-right: 1rem;
}

.published-date {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  padding: 0 .5rem;
}

.numero {
  position: relative;
  top: -0.5rem;
}

/* Icons */
.icon-star,
.icon-bubble {
  fill: lighten(#333, 40%);
  height: 24px;
  margin-right: .5rem;
  transition: .25s ease;
  width: 24px;

}

.icon-star,
.icon-bubble :hover {
  fill: #ff4d4d;
}

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}

.button-create {
  margin: auto !important;
}

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 14px;

}

.contact-form .input-text:focus {
  outline: none;
  border: #ffffff;

}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);

}

.contact-form .input-text.not-empty+.label {
  color: red
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 5px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
    -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 1px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}


.contact-form .form-control {
  background-color: #ffffff !important;
}

/*Navbar */


.form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 13px;
}

.form-control:focus {
  border-color: #33cabb;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.navbar-header.col {
  padding: 0 !important;
}

.navbar {

  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
}

.nav-link {
  color: #dafffb !important;
}

.navbar-brand {
  color: #dafffb !important;
}

.nav-link img {
  color: #dafffb !important;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  padding-left: 0;
  font-size: 20px;
  padding-right: 50px;
}

.navbar .navbar-brand b {
  font-weight: bold;
  color: #33cabb;
}

.navbar .form-inline {
  display: inline-block;
}

.navbar .nav li {
  position: relative;
}

.navbar .nav li a {
  color: #888;
}

.search-box {
  position: relative;
}

.search-box input {
  padding-right: 35px;
  border-color: #dfe3e8;
  border-radius: 4px !important;
  box-shadow: none
}

.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
  height: 100%;
}

.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}

.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  color: #fff;
  background: #33cabb;
  padding-bottom: 6px;
  vertical-align: middle;
  border: none;
}

.navbar .nav .btn-primary:hover,
.navbar .nav .btn-primary:focus {
  color: #fff;
  outline: none;
  background: #31bfb1;
}

.navbar .navbar-right li:first-child a {
  padding-top: 20px;
  padding-right: 30px;
}

.navbar .nav-item i {
  font-size: 18px;
}

.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.open>a {
  background: transparent !important;
}

.navbar .nav .get-started-btn {
  min-width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar ul.nav li.open>a.get-started-btn {
  color: #fff;
  background: #31bfb1 !important;
}

.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .nav .dropdown-menu li {
  color: #999;
  font-weight: normal;
}

.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
  padding: 8px 20px;
  line-height: normal;
}

.navbar .navbar-form {
  border: none;
}

.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}

.navbar .dropdown-menu.form-wrapper a {
  color: #33cabb;
  padding: 0 !important;
}

.navbar .dropdown-menu.form-wrapper a:hover {
  text-decoration: underline;
}

.navbar .form-wrapper .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}

.navbar .form-wrapper .social-btn .btn,
.navbar .form-wrapper .social-btn .btn:hover {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-size: 13px;
  border: none;
  transition: all 0.4s;
  text-align: center;
  line-height: 34px;
  width: 47%;
  text-decoration: none;
}

.navbar .social-btn .btn-primary {
  background: #507cc0;
}

.navbar .social-btn .btn-primary:hover {
  background: #4676bd;
}

.navbar .social-btn .btn-info {
  background: #64ccf1;
}

.navbar .social-btn .btn-info:hover {
  background: #4ec7ef;
}

.navbar .social-btn .btn i {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.navbar .form-wrapper .form-footer {
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}

.navbar .form-wrapper .form-footer a:hover {
  text-decoration: underline;
}

.navbar .form-wrapper .checkbox-inline input {
  margin-top: 3px;
}

.or-seperator {
  margin-top: 32px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

.or-seperator b {
  color: #666;
  padding: 0 8px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 26px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -15px;
  z-index: 1;
}

.navbar .checkbox-inline {
  font-size: 13px;
}

.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}

@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .navbar .dropdown-menu.form-wrapper {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }

  .navbar .form-inline {
    display: block;
  }

  .navbar .input-group {
    width: 100%;
  }

  .navbar .nav .btn-primary,
  .navbar .nav .btn-primary:active {
    display: block;
  }
}

/*Login Error */

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;


}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}





.bg-img {
  /* The image used */
  background-image: url("../images/pencil.jpg");

  min-height: 450px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.btn-comment {
  margin-left: 15px;
  width: 80px;
}

/* Article Display */


.img-article {
  width: 900px;
  height: 500px;
  margin-bottom: 40px;
}

.text-article {
  font-family: 'Lobster', cursive;

}

/* Footer */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.footer {

  background-color: #000;
  height: 70px;
  margin-top: 300px;
  bottom: 0;
  width: 100%;

}

.copyright {

  float: left;

}

.footer p {
  padding-left: 10%;
  color: white;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;

  @media (max-width: 600px) {
    text-align: center;
    padding: 0;
  }

}

.social {
  width: 50%;
  float: right;

  @media (max-width: 600px) {
    width: 100%;
  }

}

.footer a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s;

}

footer .social a:hover {
  background-color: #222;
  transition: all .3s;
}

.git {
  background-color: #3D5B94;
  font-size: 1.2em;

}

.contact {
  background-color: #6dcd9a;
  font-size: 0.8em;

}

.linkedin {
  background-color: #1E83AE;
  font-size: 1.2em;

}



/* Home */

.home-text {
  color: #000000;

}

.home-span {
  color: #FFB535;
}


/* Pagination */

.pagination {


  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.pagination ul {
  display: inline-block;

}

.page-link {
  color: #000000 !important;
  background-color: #eee !important;
}



.page-link {
  font-size: 14px;
  display: inline-block;

}



.page-item.active .page-link {
  color: #ffffff !important;
  background-color: #000000 !important;
}