{% extends 'base.html.twig' %}

{% block body %}
	{{ include('/blog/navbar.html.twig') }}
    		<h1><span>Recherche</span></h1>


	{{form(searchForm)}}
		{{ include('/blog/footer.html.twig') }}
	{% endblock %}
