{% block body %}

   <footer>
      <div  class="footer row">
        <div class="copyright col">
          <p>2020 - Voyage Voyage</p>
        </div>
        <div class="social col">
         
            <span><i name="fas fa-envelope" ></i></span> 
          </a>
          <a href="https://github.com/IssaDia/" class="git">
            Git
          </a>
          <a
            href="https://www.linkedin.com/in/issa-dia-4352b174/"
            class="linkedin"
          >
            in
          </a>
        </div>
      </div>
    </footer>


{% endblock %}