{% extends 'base.html.twig' %}

{% block body %}

	{{ include('/blog/navbar.html.twig') }}


	<div class="row">
		<div class="col-md-12 text-center">
			<h1 id="band">Qui suis-je?</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center presentation">
			<div class="presentation"><img src="{{asset('build/images/profil.jpg')}}" alt="photoprofil" height="300px">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 offset-md-3">
			<p class="home-text" >Bonjour, je m'appelle <span class="home-span">Issa</span> et je suis <span class="home-span">Développeur Web</span>. Je suis passionné de voyages et
				      j'ai donc decidé de créer un blog sur le sujet en utilisant le Framework <span class="home-span">Symfony</span>. Ce site est en cours de construction et son intérêt 
					  est de montrer les compétences que j'ai pu développer sur <span class="home-span">Symfony</span>.Dans ce blog, l'utilisateur peut s'inscrire puis se connecter et ainsi
					   créer des articles, les modifier ainsi que les supprimer par le biais d'un controller qui est en interaction avec une base de données <span class="home-span">SQL</span>. 
				      Il y'a aussi le gestion d'une section commentaires avec le principe d'ajout et de suppression.</p>
		</div>
	</div>  <span class="home-span">

	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h2>Bonne visite.</h2>
		</div>
	</div>

{% endblock %}
