{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-md-12 text-center">
    <h1 id="band">Qui suis-je?</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center presentation">
    <div class="presentation"><img
      src="../../assets/images/profil.jpg"
      alt="photoprofil" height="300px">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>Bonjour, je m'appelle Issa et je suis développeur Web. Je suis passionné de voyage et
      j'ai donc decidé de créer un blog sur le sujet en utilisant le Framework Symfony.
      Dans ce blog vous pourrez découvrir les voyages que j'ai pu effectué ou ceux que j'aimerais
       effectué et cela sous la forme d'articles. Ce blog fait aussi appel à de la contribution
       car il permet d'ajouter un article, modifier un article pour qu'il soit plus pertinent
       ou même en supprimer si la destination ne présente pas d'intêret à vos yeux.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Bonne visite.</h2>
  </div>
</div>

{% endblock %}
