<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}VoyageVoyage
			{% endblock %}
		</title>

		{% block stylesheets %}
      {{encore_entry_link_tags('app')}}
			<link rel="stylesheet" href="../assets/css/app.css">
			<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Rozha+One" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

		{% endblock %}

	</head>

	<body>

		{% block body %}{% endblock %}
    {% block javascripts %}
            {{encore_entry_script_tags('app')}}

    {% endblock %}


	</body>


</html>
